@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
  font-style: normal;
  font-weight: normal; }

ul, li {
  list-style: none; }

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 625%; }

img, div, body, html, ul, li, a {
  -webkit-touch-callout: none; }

input, button {
  outline: 0; }

/*  input,textarea,button{
 -webkit-appearance: none;
 -moz-appearance: none ;
 appearance: none ;
} */
button {
  cursor: pointer; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #54CEC1; }

html, body, .wrap {
  height: 100%;
  width: 100%;
  background: #EFEADF;
  font-family: "黑体"; }

.wrap {
  display: flex;
  overflow: hidden;
  flex-direction: column; }

header {
  height: 0.5rem;
  width: 100%;
  background: #39C0B9;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  header a {
    color: #fff; }
    header a:nth-child(2) {
      flex: 1;
      position: relative; }
      header a:nth-child(2) input {
        height: 0.3rem;
        width: 100%;
        border: none;
        border-radius: .3rem;
        padding-left: .3rem;
        background: #26AA93; }
      header a:nth-child(2) i.icon {
        position: absolute;
        top: .05rem;
        left: .1rem;
        font-size: .19rem; }
    header a:nth-child(3) {
      padding: 0 .2rem;
      text-align: center; }
      header a:nth-child(3) i.icon {
        font-size: .23rem;
        color: #fff; }
    header a:nth-child(1) {
      padding: 0 .1rem; }

section {
  flex: 1;
  overflow-y: scroll; }
  section .bann {
    height: auto;
    width: 100%;
    overflow: hidden; }
    section .bann .swiper-wrapper {
      height: 100%;
      width: 100%; }
      section .bann .swiper-wrapper .swiper-slide {
        height: auto;
        width: 100%; }
  section .nav {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #fff; }
    section .nav a {
      height: auto;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      margin: .1rem 0; }
      section .nav a i.icon {
        height: 0.34rem;
        width: 0.34rem;
        border-radius: 50%;
        text-align: center;
        line-height: .34rem;
        background: #26AA93;
        color: #fff; }
      section .nav a:nth-child(2n) i.icon {
        background: #F78B28; }
      section .nav a:nth-child(3n) i.icon {
        background: #778FF3; }
      section .nav a span {
        line-height: 1.5;
        color: #5D5E60; }
  section .main {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: .1rem 0;
    background: #fff; }
    section .main dl {
      height: auto;
      width: 50%;
      display: flex;
      border: 1px solid #ccc;
      padding: .1rem 0; }
      section .main dl dt {
        flex: 6;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        section .main dl dt span {
          font-weight: 800;
          color: #212121;
          font-size: .16rem; }
        section .main dl dt em {
          font-size: .12rem; }
      section .main dl dd {
        flex: 4; }
        section .main dl dd img {
          height: auto;
          width: 80%; }

footer {
  height: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #F0F4F3; }
  footer a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: #A3A7A6; }
    footer a i.icon {
      font-size: .22rem; }
    footer a span {
      font-size: .13rem; }
    footer a:hover {
      color: #43A191; }
    footer a:nth-child(1) {
      color: #43A191; }

/*# sourceMappingURL=style.css.map */
